h1 {
    color: blue;
}

ul {
    color: white;
}
#idList {
    background-color: Tomato;
    font-style: italic;
}
h2 {
    color: red;
}

h3 {
    background-color: LightGray;
}

p {
    color: SlateBlue;
}